<div class="iwp-assignment">
    <img src="https://media.licdn.com/dms/image/C5603AQH-YJdpX1dQTQ/profile-displayphoto-shrink_800_800/0/1656406596933?e=2147483647&v=beta&t=avt8JaqTvRJBNCVjjSJI_uPSUm3PWsRmWCyf4bUc7EM" alt="Profile Image">
    <h2>IWP Assignment</h2>
    <p><strong>Due Date:</strong> 15th September, 2023</p>
    <p><strong>Roll no.:</strong> BT21CSE028</p>
    <p><strong>Semester:</strong> 5</p>
    <p><strong>Batch:</strong> CSE'25</p>
    <p><strong>Email:</strong> ronaksingh2708@gmail.com</p>
</div>
<app-qa></app-qa>
